.button {
	display: flex;
	align-items: center;
	gap: 4px;
	background-color: #3b82f6;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button:hover {
	background-color: #2563eb;
}
