.header {
}

.headerContent {
	max-width: 1280px;
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	padding: 15px 15px;
}

.logo {
	font-size: 28px;
	font-weight: 500;

	display: flex;
	align-items: center;
	gap: 30px;
}

.nav {
}

.navList {
	display: flex;
	align-items: center;
	gap: 30px;
}

.navItem {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
}
